.about-text
	background: var(--background-color)
	border-radius: 5px
	padding: 80px 85px

@media screen and (max-width: 1400px)
	
	.about-text
		padding: 40px


@media screen and (max-width: 1000px)
	
	.about-text
		padding: 30px

@media screen and (max-width: 667px)
	
	.about-text
		padding: 20px