.catalog
	&__list
		display: flex
		flex-wrap: wrap



@media screen and (max-width: 667px)

	.catalog
		.catalog
			&__list
				flex-direction: column
				// margin: 0
				background-color: var(--background-color)
				overflow: visible
				padding: 0


			&__item
				&-cont
					width: 100%
					margin: 0 !important
					padding: 10px 20px
					border-bottom: 1px solid var(--main-color)
					box-sizing: border-box !important

				&-img
					display: none
	