.news
	&__item
		display: flex
		align-items: center

		&:not(:first-child)
			margin-top: 100px

		&-img
			flex: none
			margin-right: 100px

			img
				display: block

		&-date
			font-size: rem(12)
			color: rgba(0, 0, 0, 0.4)
			margin-bottom: 10px
			text-transform: uppercase

		&-title
			font-size: rem(24)

		&-text
			margin-top: 15px


		.circle-arrow
			margin-top: 55px




