.page_about
	.main-banner__slider-arrow
		position: absolute
		bottom: 40px
		left: 40px

@media screen and (max-width: 667px)
	.page_about
		.main-banner__slider-arrow
			position: absolute
			bottom: 20px
			left: 20px

		.swiper-button
			size: 30px