footer.footer
	.scroll-top
		span
			img(src="img/ico-logo-scroll.svg", alt="")
		span Наверх

	.footer-top-cont
		.wrapper
			.footer-top
				.footer-logo
					img(src="img/logo.svg", alt="")
				.footer-oferta Информация представлена на сайте для ознакомления и не является публичной офертой. 
				.footer-menu
					ul
						li
							a(href="") Каталог
						li
							a(href="") О компании
						li
							a(href="") Новости
						li
							a(href="") Оформление заказа
						li
							a(href="") Контакты
						li
							a(href="") Акции

				.footer-links
					a(href="").footer-link Нашли ошибку?
					a(href="").footer-link Политика конфиденциальности 
					a(href="").footer-link Условия возврата и обмена

	.footer-bot-cont
		.wrapper
			.footer-bot
				.footer-copy
					a(href="") © 2000-2019, АО «Областной аптечный склад»
					span Все права защищены.
				a(href="").dev
					img(src="img/dev-img.svg", alt="")


