footer.footer
	.scroll-top
		span
			img(src="img/ico-logo-scroll.svg", alt="")
		span Наверх

	.footer-top-cont
		.wrapper
			.footer-top
				.footer-logo
					img(src="img/logo.jpg", alt="")
				.footer-el
					.footer-el__title Адрес
					.footer-el__text Челябинская область,<br> Сосновский район, д. Ключи, Промзона 1
				.footer-el
					.footer-el__title Телефон
					.footer-el__text 
						a(href="tel:+7 (351) 729-88-20") +7 (351) 729-88-20 - многокональный
						a(href="tel:+7 (922) 711-44-00") +7 (922) 711-44-00 - мобильный
				.footer-el
					.footer-el__title Почта
					.footer-el__text 
						a(href="mailto:info@electrobeton.ru") info@electrobeton.ru

	.footer-bot-cont
		.wrapper
			.footer-bot
				.footer-copy
					a(href="") © 2019 Челябинский завод<br> ЭЛЕКТРОБЕТОН. Все права защищены.
				.footer-btn
					a(href="").btn Рассчитать цену
				.footer-soc
					.soc
						a.soc__link(href="#") 
							img(src="img/ico-vk-w.svg")
						a.soc__link(href="#") 
							img(src="img/ico-fb-w.svg")
						a.soc__link(href="#") 
							img(src="img/ico-inst-w.svg")
						a.soc__link(href="#") 
							img(src="img/ico-youtube-w.svg")
				a(href="").dev
					img(src="img/dev-img.svg", alt="")


