.mobile-menu
header.head-cont
	.wrapper
		.head
			.head-logo
				a.logo(href="#")
					img(src="img/logo.jpg")
			nav.head-menu
				ul.head-menu__list
					li.head-menu__item.active
						a(href="#").head-menu__link О компании
					each title in ['Каталог', 'Документы', 'Новости', 'Контакты']                                               
						li.head-menu__item
							a(href="#").head-menu__link=title
			.head-contact
				a(href="tel:8 (351) 729-88-20") 8 (351) 729-88-20
				a(href="mailto:info@electrobeton.ru") info@electrobeton.ru

			.head-soc
				.soc
					a.soc__link(href="#") 
						img(src="img/ico-vk.svg")
					a.soc__link(href="#") 
						img(src="img/ico-fb.svg")
					a.soc__link(href="#") 
						img(src="img/ico-inst.svg")
					a.soc__link(href="#") 
						img(src="img/ico-youtube.svg")
			.burger
				span