section.search-cont
	.wrapper
		.search
			.search-item
				.search-item__el
					.search-item__info
						.search-item__title Каталог товаров
						.search-item__btn 
							a(href="").btn.btn--arrow Перейти
					figure
						img(src="img/photos/catalog-link.png", alt="")

			.search-item
				form(action="")
					.search-item__el
						.search-form
							label(for="1").search-form__label Поиск
							input(id="1" type="text" value="" required="" autocomplete="off" placeholder="Поиск по товарам").search-form__input
							input(type="submit"  value="Поиск").search-form__btn
							.btn-clear
						figure
							img(src="img/photos/search-img.png", alt="")


