<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title 404
		include inc/head.pug
		include inc/css.pug
	body.inner.loading
		include inc/header.pug
		
		main#content
			.content
				.wrapper
					.page-error
						.page-error__title 404
						.page-error__info
							.page-error__info-top Что-то пошло не так, страница<br> больше не существует
							a(href="").page-error__info-bot Пожалуйста, перейдите на<br> главную страницу сайта

		


					
		include inc/footer.pug
		include inc/scripts.pug