<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Новости
		include inc/head.pug
		include inc/css.pug
	body.inner.loading
		include inc/header.pug

		.speed-btn-cont
			.speed-btn
				a(href="").speed-btn__item
					figure.speed-btn__item-img
						img(src="img/ico-calc.svg", alt="")
					.speed-btn__item-text Рассчитать цену
				a(href="").speed-btn__item
					figure.speed-btn__item-img
						img(src="img/ico-write.svg", alt="")
					.speed-btn__item-text Написать нам написать нам
				a(href="").speed-btn__item
					figure.speed-btn__item-img
						img(src="img/ico-call.svg", alt="")
					.speed-btn__item-text Позвонить


		
		main#content
			.title-block__cont
				.wrapper
					.title-block
						.title-block__title
							h1 Новости
						.title-block__crumbs
							.bread-crumbs
								a.bread-crumbs__link(href="/" title="Главная") 
								span.bread-crumbs__this Новости

			.content
				.wrapper
					aside.aside-cont
						.aside
							.links-cont
								.links-top БКТП
								.links-bot-cont
									.links-bot
										a(href="#").links-link БКТП-25
										a(href="#").links-link БКТП-60
										a(href="#").links-link БКТП-100
										a(href="#").links-link БКТП-160
										a(href="#").links-link БКТП-250
										a(href="#").links-link БКТП-400
										a(href="#").links-link БКТП-630
										a(href="#").links-link БКТП-1000
										a(href="#").links-link БКТП-1250
										a(href="#").links-link БКТП-1600
										a(href="#").links-link БКТП-2000
										a(href="#").links-link БКТП-2500
										a(href="#").links-link 2БКТП-25
										a(href="#").links-link 2БКТП-60
										a(href="#").links-link 2БКТП-100
										a(href="#").links-link 2БКТП-160
										a(href="#").links-link 2БКТП-250
										a(href="#").links-link 2БКТП-400
										a(href="#").links-link 2БКТП-630
										a(href="#").links-link 2БКТП-1000
										a(href="#").links-link 2БКТП-1250
										a(href="#").links-link 2БКТП-1600
										a(href="#").links-link 2БКТП-2000
										a(href="#").links-link 2БКТП-2500
							.links-cont
								.links-top БКРП
								.links-bot-cont
									.links-bot
										a(href="#").links-link БКТП-25
										a(href="#").links-link БКТП-60
										a(href="#").links-link БКТП-100
										a(href="#").links-link БКТП-160
										a(href="#").links-link БКТП-250
										a(href="#").links-link БКТП-400
										a(href="#").links-link БКТП-630
										a(href="#").links-link БКТП-1000
										a(href="#").links-link БКТП-1250
										a(href="#").links-link БКТП-1600
										a(href="#").links-link БКТП-2000
										a(href="#").links-link БКТП-2500
										a(href="#").links-link 2БКТП-25
										a(href="#").links-link 2БКТП-60
										a(href="#").links-link 2БКТП-100
										a(href="#").links-link 2БКТП-160
										a(href="#").links-link 2БКТП-250
										a(href="#").links-link 2БКТП-400
										a(href="#").links-link 2БКТП-630
										a(href="#").links-link 2БКТП-1000
										a(href="#").links-link 2БКТП-1250
										a(href="#").links-link 2БКТП-1600
										a(href="#").links-link 2БКТП-2000
										a(href="#").links-link 2БКТП-2500
							.links-cont
								.links-top БРП
								.links-bot-cont
									.links-bot
										a(href="#").links-link БКТП-25
										a(href="#").links-link БКТП-60
										a(href="#").links-link БКТП-100
										a(href="#").links-link БКТП-160
										a(href="#").links-link БКТП-250
										a(href="#").links-link БКТП-400
										a(href="#").links-link БКТП-630
										a(href="#").links-link БКТП-1000
										a(href="#").links-link БКТП-1250
										a(href="#").links-link БКТП-1600
										a(href="#").links-link БКТП-2000
										a(href="#").links-link БКТП-2500
										a(href="#").links-link 2БКТП-25
										a(href="#").links-link 2БКТП-60
										a(href="#").links-link 2БКТП-100
										a(href="#").links-link 2БКТП-160
										a(href="#").links-link 2БКТП-250
										a(href="#").links-link 2БКТП-400
										a(href="#").links-link 2БКТП-630
										a(href="#").links-link 2БКТП-1000
										a(href="#").links-link 2БКТП-1250
										a(href="#").links-link 2БКТП-1600
										a(href="#").links-link 2БКТП-2000
										a(href="#").links-link 2БКТП-2500
							.links-cont
								.links-top НКУ
								.links-bot-cont
									.links-bot
										a(href="#").links-link БКТП-25
										a(href="#").links-link БКТП-60
										a(href="#").links-link БКТП-100
										a(href="#").links-link БКТП-160
										a(href="#").links-link БКТП-250
										a(href="#").links-link БКТП-400
										a(href="#").links-link БКТП-630
										a(href="#").links-link БКТП-1000
										a(href="#").links-link БКТП-1250
										a(href="#").links-link БКТП-1600
										a(href="#").links-link БКТП-2000
										a(href="#").links-link БКТП-2500
										a(href="#").links-link 2БКТП-25
										a(href="#").links-link 2БКТП-60
										a(href="#").links-link 2БКТП-100
										a(href="#").links-link 2БКТП-160
										a(href="#").links-link 2БКТП-250
										a(href="#").links-link 2БКТП-400
										a(href="#").links-link 2БКТП-630
										a(href="#").links-link 2БКТП-1000
										a(href="#").links-link 2БКТП-1250
										a(href="#").links-link 2БКТП-1600
										a(href="#").links-link 2БКТП-2000
										a(href="#").links-link 2БКТП-2500
							.links-cont
								.links-top КСО
								.links-bot-cont
									.links-bot
										a(href="#").links-link БКТП-25
										a(href="#").links-link БКТП-60
										a(href="#").links-link БКТП-100
										a(href="#").links-link БКТП-160
							.links-cont
								.links-top КРУ
								.links-bot-cont
									.links-bot
										a(href="#").links-link БКТП-25
										a(href="#").links-link БКТП-60
										a(href="#").links-link БКТП-100
										a(href="#").links-link БКТП-160
							.links-cont
								.links-top Камень бордюрный
								.links-bot-cont
									.links-bot
										a(href="#").links-link БКТП-25
										a(href="#").links-link БКТП-60
										a(href="#").links-link БКТП-100
										a(href="#").links-link БКТП-160
							.links-cont
								.links-top Тротуарная плитка
								.links-bot-cont
									.links-bot
										a(href="#").links-link БКТП-25
										a(href="#").links-link БКТП-60
										a(href="#").links-link БКТП-100
										a(href="#").links-link БКТП-160

					section.cat-2-cont
						.cat-2
							.cat-2__text
								.text-page КТП - комплектная трансформаторная подстанция наружной установки трехфазного переменного тока частотой 50 Гц, представляет собой электротехническое устройство, предназначенное для приема, преобразования (по уровню напряжения при помощи силовых трансформаторов), передачи и распределения электрической энергии
							.cat-links
								.cat-links__list
									.cat-links__item
										a(href="").cat-links__link БКТП-25
									.cat-links__item
										a(href="").cat-links__link БКТП-60 
									.cat-links__item
										a(href="").cat-links__link БКТП-100
									.cat-links__item
										a(href="").cat-links__link БКТП-160
									.cat-links__item
										a(href="").cat-links__link БКТП-250
									.cat-links__item
										a(href="").cat-links__link БКТП-400
									.cat-links__item
										a(href="").cat-links__link БКТП-630
									.cat-links__item
										a(href="").cat-links__link БКТП-1000
									.cat-links__item
										a(href="").cat-links__link БКТП-1250
									.cat-links__item
										a(href="").cat-links__link БКТП-1600
									.cat-links__item
										a(href="").cat-links__link БКТП-2000
									.cat-links__item
										a(href="").cat-links__link БКТП-2500
									.cat-links__item
										a(href="").cat-links__link 2БКТП-25
									.cat-links__item
										a(href="").cat-links__link 2БКТП-60
									.cat-links__item
										a(href="").cat-links__link 2БКТП-100
									.cat-links__item
										a(href="").cat-links__link 2БКТП-160
									.cat-links__item
										a(href="").cat-links__link 2БКТП-250
									.cat-links__item
										a(href="").cat-links__link 2БКТП-400
									.cat-links__item
										a(href="").cat-links__link 2БКТП-630
									.cat-links__item
										a(href="").cat-links__link 2БКТП-1000
									.cat-links__item
										a(href="").cat-links__link 2БКТП-1250
									.cat-links__item
										a(href="").cat-links__link 2БКТП-1600
									.cat-links__item
										a(href="").cat-links__link 2БКТП-2000
									.cat-links__item
										a(href="").cat-links__link 2БКТП-2500



						


		include inc/footer.pug
		include inc/scripts.pug