<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Документы
		include inc/head.pug
		include inc/css.pug
	body.inner.loading
		include inc/header.pug

		.speed-btn-cont
			.speed-btn
				a(href="").speed-btn__item
					figure.speed-btn__item-img
						img(src="img/ico-calc.svg", alt="")
					.speed-btn__item-text Рассчитать цену
				a(href="").speed-btn__item
					figure.speed-btn__item-img
						img(src="img/ico-write.svg", alt="")
					.speed-btn__item-text Написать нам написать нам
				a(href="").speed-btn__item
					figure.speed-btn__item-img
						img(src="img/ico-call.svg", alt="")
					.speed-btn__item-text Позвонить


		
		main#content
			.title-block__cont
				.wrapper
					.title-block
						.title-block__title
							h1 Документы
						.title-block__crumbs
							.bread-crumbs
								a.bread-crumbs__link(href="/" title="Главная") 
								span.bread-crumbs__this Документы

			.content
				.wrapper
					section.documents-cont
						.documents
							.documents-filter-cont
								.documents-filter
									a(href="").documents-filter__link Сертификаты
									a(href="").documents-filter__link Документы
								// это фильтр для мобильных !!!
								.mobile-filter
									select.no-selectize
										option(value="1") Сертификаты
										option(value="2") Документы

							.documents__list-row
								.documents__item-row.animated
									.documents__item-row-title Инструкции П-6, П-7 о порядке приемки продукции

								.documents__item-row.animated
									.documents__item-row-title ПУЭ: правила устройства электроустановок

								.documents__item-row.animated
									.documents__item-row-title Инкотермс 2000
								.documents__item-row.animated
									.documents__item-row-title ГОСТы в энергетике
								.documents__item-row.animated
									.documents__item-row-title ЕСКД - электричество и схемы
								.documents__item-row.animated
									.documents__item-row-title Система стандартов безопасности труда
								.documents__item-row.animated
									.documents__item-row-title Инструкции П-6, П-7 о порядке приемки продукции
								.documents__item-row.animated
									.documents__item-row-title ПУЭ: правила устройства электроустановок
								


								



		include inc/footer.pug
		include inc/scripts.pug